```mermaid
    graph TD;
        A[Start] --> B[Install Dash and Plotly]
        B --> C[Import Libraries]
        C --> D[Load Data]
        D --> E[Create Scatterplot with Plotly Express]
        E --> F[Initialize Dash App]
        F --> G[Define App Layout]
        G --> H[Add dcc.Graph for Scatterplot]
        H --> I[Run the App]
        I --> J[View Dashboard in Browser]
        J --> K[End]
```

In [1]:
from dash import Dash, dcc, html
import plotly.express as px
import pandas as pd

In [2]:
df = pd.read_csv('data/values_cluster_results_fivegroup.csv')

In [3]:
app = Dash(__name__)

In [6]:
from dash.dependencies import Output, Input

# Define the app layout with dropdowns
app.layout = html.Div([
    dcc.Dropdown(
        id='x-axis-dropdown',
        options=[{'label': col, 'value': col} for col in df.columns],
        value='age',  # default value
        clearable=False
    ),
    dcc.Dropdown(
        id='y-axis-dropdown',
        options=[{'label': col, 'value': col} for col in df.columns],
        value='gender',  # default value
        clearable=False
    ),
    dcc.Graph(id='scatter-plot')
])

# Add a callback to update the graph based on dropdown selection
@app.callback(
    Output('scatter-plot', 'figure'),
    [Input('x-axis-dropdown', 'value'),
     Input('y-axis-dropdown', 'value')]
)
def update_graph(x_axis, y_axis):
    fig = px.scatter(df, x=x_axis, y=y_axis, color='cluster')
    return fig

if __name__ == '__main__':
    app.run_server(debug=False)

## 3-D Exploration Dashboard

In [5]:
from dash import Dash, dcc, html
from dash.dependencies import Output, Input
import plotly.graph_objs as go
import pandas as pd

# Load your data


# Initialize the Dash app
app = Dash(__name__)

# Define the app layout
app.layout = html.Div([
    dcc.Dropdown(
        id='x-axis-dropdown',
        options=[{'label': col, 'value': col} for col in df.columns],
        value=df.columns[0],  # default value
        clearable=False
    ),
    dcc.Dropdown(
        id='y-axis-dropdown',
        options=[{'label': col, 'value': col} for col in df.columns],
        value=df.columns[1],  # default value
        clearable=False
    ),
    dcc.Dropdown(
        id='z-axis-dropdown',
        options=[{'label': col, 'value': col} for col in df.columns],
        value=df.columns[2],  # default value
        clearable=False
    ),
    dcc.Graph(id='3d-scatter-plot')
])

# Add a callback to update the graph based on dropdown selection
@app.callback(
    Output('3d-scatter-plot', 'figure'),
    [Input('x-axis-dropdown', 'value'),
     Input('y-axis-dropdown', 'value'),
     Input('z-axis-dropdown', 'value')]
)
def update_graph(x_axis, y_axis, z_axis):
    fig = go.Figure(data=[go.Scatter3d(
        x=df[x_axis],
        y=df[y_axis],
        z=df[z_axis],
        mode='markers',
        marker=dict(
            size=5,
            color=df['cluster'],  # Assuming 'cluster' is a column for coloring
            colorscale='Viridis',
            opacity=0.8
        )
    )])
    fig.update_layout(scene=dict(
        xaxis_title=x_axis,
        yaxis_title=y_axis,
        zaxis_title=z_axis
    ))
    return fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File c:\Users\justi\AppData\Local\Programs\Python\Python312\Lib\site-packages\dash\dash.py:1307, in Dash.dispatch(self=<dash.dash.Dash object>)
   1306 try:
-> 1307     cb = self.callback_map[output]
        output = 'scatter-plot.figure'
        self.callback_map = {'3d-scatter-plot.figure': {'inputs': [{'id': 'x-axis-dropdown', 'property': 'value'}, {'id': 'y-axis-dropdown', 'property': 'value'}, {'id': 'z-axis-dropdown', 'property': 'value'}], 'state': [], 'outputs_indices': 0, 'inputs_state_indices': [0, 1, 2], 'long': None, 'output': <Output `3d-scatter-plot.figure`>, 'raw_inputs': [<Input `x-axis-dropdown.value`>, <Input `y-axis-dropdown.value`>, <Input `z-axis-dropdown.value`>], 'manager': None, 'allow_dynamic_callbacks': None, 'no_output': False, 'callback': <function update_graph at 0x000002062C8471A0>}}
        self = <dash.dash.Dash object at 0x000002062C3D1730>
   1308     func = cb["callback"]

KeyError: 'scatter-plot.figure'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
KeyError: "Callback function not found for output 'scatter-plot.figure', perhaps you forgot to prepend the '@'?"

In [54]:
# Average Age and account age for each cluster
df.groupby('cluster')[['age', 'account.age']].mean()

               age  account.age
cluster
0        50.704251    14.719845
1        49.121560    14.021303
2        57.222222    16.613189
3        43.649733    12.141693
4        49.992322    11.021205

In [ ]:
df.groupby('cluster')[['age', 'account.age']].median()

In [56]:
# Most common focal value for each cluster
df.groupby('cluster')['main.focal.value'].value_counts()

cluster  main.focal.value
0        Environment                      126
         Human/Civil rights               100
         Education                         73
         Hunger/Poverty                    71
         Homelessness                      43
         Health (i.e. cancer research)     37
         Animal rights                     33
         Specify                           23
         Arts & culture                    20
         Domestic abuse                    15
1        Health (i.e. cancer research)     94
         Education                         85
         Hunger/Poverty                    60
         Law enforcement                   42
         Specify                           34
         Human/Civil rights                33
         Domestic abuse                    22
         Animal rights                     21
         Environment                       18
         Homelessness                      15
         Arts & culture                    12
2        Health (i.e. cancer research)     86
         Education                         82
         Hunger/Poverty                    82
         Environment                       63
         Human/Civil rights                51
         Law enforcement                   42
         Animal rights                     39
         Homelessness                      38
         Domestic abuse                    30
         Specify                           29
         Arts & culture                     7
3        Education                         72
         Environment                       64
         Health (i.e. cancer research)     64
         Hunger/Poverty                    38
         Human/Civil rights                36
         Animal rights                     24
         Specify                           22
         Domestic abuse                    18
         Homelessness                      14
         Arts & culture                    11
         Law enforcement                   11
4        Education                         96
         Hunger/Poverty                    85
         Health (i.e. cancer research)     84
         Environment                       59
         Animal rights                     41
         Human/Civil rights                36
         Domestic abuse                    35
         Homelessness                      35
         Law enforcement                   30
         Specify                           15
         Arts & culture                     5
Name: count, dtype: int64

In [58]:
# Mean results on the questions of `pub.greater.priv`, `experience.more.important`, and `teachers.underpaid` for each cluster
df.groupby('cluster')[['pub.greater.priv', 'experience.more.important', 'teachers.underpaid']].mean()

         pub.greater.priv  experience.more.important  teachers.underpaid
cluster
0                3.436229                   3.859519            5.423290
1                2.910550                   4.126147            4.282110
2                3.244080                   3.930783            4.919854
3                3.066845                   3.983957            4.687166
4                3.166987                   4.140115            4.948177